body {
   font-size: 18px;
   line-height: 1;
   font-family: $font-primary;
   background: url('../images/background.jpg') no-repeat;
   background-size: 100% 1082px;
   background-color: $white;
   max-width: 1920px;
   margin: 0 auto;
   overflow-x: hidden;
   @include maxw(1023px) {
      background-size: 100% 750px;
   }
   @include maxw(767px) {
      background-size: 100% 555px;
   }
}
.container {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}
.btn {
   display: inline-block;
   color: $white;
   padding: 25px 70px;
   border-radius: 6px;
   font-weight: 900;
   &--primary {
      background: $blue;
   }
   &--secondary {
      background: $green;
      color: $blue;
   }
   @include maxw(767px) {
      padding: 15px 40px;
      font-size: 16px;
   }
}
.title {
   font-size: 36px;
   line-height: lineH(36, 56);
   color: $gray-dark;
   font-family: $font-secondary-bold;
   @include maxw(767px) {
      font-size: 25px;
   }
}
.desc {
   line-height: lineH(18, 34);
   color: $gray;
   margin: 60px 0 70px;
   @include maxw(1023px) {
      margin: 40px 0 50px;
   }
   @include maxw(767px) {
      margin: 20px 0 25px;
   }
}
