.header {
    padding: 40px 0;
    border-bottom: 1px solid rgba($white, 0.5);
    &-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-tool {
        display: flex;
        align-items: center;
        gap: 0 70px;
    }
}
.menu {
    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 60px;
    }
    &-link {
        color: $white;
        display: flex;
        align-items: center;
    }
}