.level {
    display: block;
    &-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 130px;
    }
    &-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 30px;
    }
    &-box-small {
        width: 270px;
        height: 270px;
        box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-box-big {
        width: 370px;
        height: 370px;
        background: $blue;
        margin-bottom: 30px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @include maxw(1199px) {
        &-main {
            gap: 0 80px;
        }
        &-box-small {
            width: 200px;
            height: 200px;
        }
        &-box-big {
            width: 270px;
            height: 270px;
        }
    }
    @include maxw(1023px) {
        &-main {
            flex-direction: column;
            gap: 50px 0;
        }
    }
    @include maxw(767px) { 
        &-left {
            flex-direction: column;
            gap: 30px 0;
            width: 100%;
        }
        &-boxs{
            width: 80%;
        }
        &-box-small,
        &-box-big{
            width: 100%;
        }
        &-box-big {
            height: 200px;
        }
    }
}