.offer {
    padding: 150px 0;
    display: block;
    &-main {
        display: flex;
        align-items: center;
        gap: 0 230px;
    }
    &-images {
        position: relative;
        min-height: 550px;
    }
    &-img {
        border-radius: 10px;
        &:nth-child(1) {
            max-width: 470px;
            height: 440px;
        }
        &:nth-child(2) {
            position: absolute;
            top: 130px;
            left: -100px;
            max-width: 300px;
            height: 410px;
            box-shadow:  0px 0px 50px 10px rgba($gray-dark, 0.2);
        }
    }
    @include maxw(1199px) {
        &-main {
            gap: 0 150px;
        }
    }
    @include maxw(1023px) {
        padding: 70px 0;
        &-main {
            flex-direction: column;
            gap: 50px 0;
        }
    }
    @include maxw(767px) {
        padding: 50px 0;
        &-images {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 30px 0;
        }
        &-img {
            &:nth-child(1) {
                max-width: 100%;
                width: 100%;
                height: 350px;
            }
            &:nth-child(2) {
                position: static;
                max-width: 100%;
                width: 100%;
                height: 350px;
            }
        }
    }

}