.project {
    padding: 150px 0;
    margin-top: 150px;
    display: block;
    background-color: $bg-gray-ligth;
    &-title, &-desc{
        text-align: center;
    }
    &-desc {
        max-width: 570px;
        margin: 50px auto 0;
    }
    &-slider {
        margin-top: 100px;
    }
    &-blogs {
        display: flex;
        padding: 0 75px;
        gap: 0 30px;
    }
    &-blogs-item {
        position: relative;
        flex: 1;
        height: 410px;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        img {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        &:hover {
            .project-blogs-explore {
                transform: translateY(0%);
            }
        }
    }
    &-blogs-explore {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        background-color: rgba($blue, 0.8);
        transition: all 0.5s ease-in-out;
    }
    &-blogs-text {
        color: $white;
        font-family: $font-secondary-bold;
        font-size: 36px;
    }
    &-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: fit-content;
        margin: 70px auto 0;
        gap: 0 15px;
    }
    &-btn-item {
        width: 15px;
        height: 15px;
        border-radius: 100rem;
        background-color: $blue-ligth;
    }
    &-btn-active {
        width: 25px;
        height: 25px;
        border: 5px solid $blue-ligth;
        background-color: $blue;
    }
    @include maxw(1499px) {
        &-blogs {
            padding: 0 30px;
        }
    }
    @include maxw(1023px) {
        margin-top: 70px;
        padding: 70px 0;
        &-desc {
            margin-top: 40px;
        }
        &-slider {
            margin-top: 50px;
        }
    }
    @include maxw(767px) {
        margin-top: 50px;
        padding: 50px 0;
        &-desc {
            margin-top: 20px;
        }
        &-slider, &-btn {
            margin-top: 30px;
        }
    }
}