$font-primary: "OpenSans";
$font-primary-bold: "OpenSans-ExtraBold";
$font-secondary: "Raleway";
$font-secondary-bold: "Raleway-ExtraBold";
$white: #ffffff;
$blue: #2d63d1;
$blue-ligth: #c8c7fb;
$gray-dark: #393e46;
$gray: #6a727f;
$black: #393e46;
$green: #44f2a1;

