.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-slide:focus, .slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea,
select,
button {
  cursor: pointer;
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-size: 18px;
  line-height: 1;
  font-family: "OpenSans";
  background: url("../images/background.jpg") no-repeat;
  background-size: 100% 1082px;
  background-color: #ffffff;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

@media screen and (max-width: 1023px) {
  body {
    background-size: 100% 750px;
  }
}

@media screen and (max-width: 767px) {
  body {
    background-size: 100% 555px;
  }
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  color: #ffffff;
  padding: 25px 70px;
  border-radius: 6px;
  font-weight: 900;
}

.btn--primary {
  background: #2d63d1;
}

.btn--secondary {
  background: #44f2a1;
  color: #2d63d1;
}

@media screen and (max-width: 767px) {
  .btn {
    padding: 15px 40px;
    font-size: 16px;
  }
}

.title {
  font-size: 36px;
  line-height: 1.55556;
  color: #393e46;
  font-family: "Raleway-ExtraBold";
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 25px;
  }
}

.desc {
  line-height: 1.88889;
  color: #6a727f;
  margin: 60px 0 70px;
}

@media screen and (max-width: 1023px) {
  .desc {
    margin: 40px 0 50px;
  }
}

@media screen and (max-width: 767px) {
  .desc {
    margin: 20px 0 25px;
  }
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url(../fonts/Raleway/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url(../fonts/OpenSans/OpenSans-ExtraBold.ttf);
}

.header {
  padding: 40px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 70px;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 20px 0;
  }
  .header-tool {
    gap: 0 30px;
  }
}

.menu-icon {
  display: none;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 60px;
}

.menu-link {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1023px) {
  .menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    background-color: #ffffff;
    z-index: 1000;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .menu-show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
  }
  .menu-list {
    margin-top: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px 0;
  }
  .menu-item {
    padding: 0 15px;
    width: 100%;
  }
  .menu-link {
    display: block;
    padding: 15px 15px;
    color: #2d63d1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 6px;
  }
  .menu-link:hover {
    color: #ffffff;
    background-color: #2d63d1;
  }
}

.hero {
  display: block;
  padding: 230px 0 360px;
}

.hero-content {
  max-width: 800px;
  color: #ffffff;
}

.hero-title {
  font-size: 60px;
  font-family: "Raleway";
  font-weight: 200;
  line-height: 1.26667;
}

.hero-detail {
  margin: 60px 0 64px;
  max-width: 520px;
  line-height: 1.5;
  font-size: 24px;
}

@media screen and (max-width: 1023px) {
  .hero {
    padding: 150px 0;
  }
  .hero-content {
    text-align: center;
  }
  .hero-title {
    font-size: 40px;
  }
  .hero-detail {
    margin: 40px auto;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 100px 0;
  }
  .hero-title {
    font-size: 30px;
  }
  .hero-detail {
    font-size: 18px;
    margin: 30px auto;
  }
}

.offer {
  padding: 150px 0;
  display: block;
}

.offer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 230px;
}

.offer-images {
  position: relative;
  min-height: 550px;
}

.offer-img {
  border-radius: 10px;
}

.offer-img:nth-child(1) {
  max-width: 470px;
  height: 440px;
}

.offer-img:nth-child(2) {
  position: absolute;
  top: 130px;
  left: -100px;
  max-width: 300px;
  height: 410px;
  -webkit-box-shadow: 0px 0px 50px 10px rgba(57, 62, 70, 0.2);
          box-shadow: 0px 0px 50px 10px rgba(57, 62, 70, 0.2);
}

@media screen and (max-width: 1199px) {
  .offer-main {
    gap: 0 150px;
  }
}

@media screen and (max-width: 1023px) {
  .offer {
    padding: 70px 0;
  }
  .offer-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px 0;
  }
}

@media screen and (max-width: 767px) {
  .offer {
    padding: 50px 0;
  }
  .offer-images {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px 0;
  }
  .offer-img:nth-child(1) {
    max-width: 100%;
    width: 100%;
    height: 350px;
  }
  .offer-img:nth-child(2) {
    position: static;
    max-width: 100%;
    width: 100%;
    height: 350px;
  }
}

.level {
  display: block;
}

.level-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 130px;
}

.level-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 30px;
}

.level-box-small {
  width: 270px;
  height: 270px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.level-box-big {
  width: 370px;
  height: 370px;
  background: #2d63d1;
  margin-bottom: 30px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .level-main {
    gap: 0 80px;
  }
  .level-box-small {
    width: 200px;
    height: 200px;
  }
  .level-box-big {
    width: 270px;
    height: 270px;
  }
}

@media screen and (max-width: 1023px) {
  .level-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px 0;
  }
}

@media screen and (max-width: 767px) {
  .level-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px 0;
    width: 100%;
  }
  .level-boxs {
    width: 80%;
  }
  .level-box-small, .level-box-big {
    width: 100%;
  }
  .level-box-big {
    height: 200px;
  }
}

.project {
  padding: 150px 0;
  margin-top: 150px;
  display: block;
  background-color: #bbbbbb;
}

.project-title, .project-desc {
  text-align: center;
}

.project-desc {
  max-width: 570px;
  margin: 50px auto 0;
}

.project-slider {
  margin-top: 100px;
  padding: 0 75px;
}

.project-blogs {
  margin: 0 -15px;
}

.project-blogs-item {
  position: relative;
  height: 410px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  margin: 0 15px;
}

.project-blogs-item img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.project-blogs-item:hover .project-blogs-explore {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.project-blogs-explore {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  background-color: rgba(45, 99, 209, 0.8);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.project-blogs-text {
  color: #ffffff;
  font-family: "Raleway-ExtraBold";
  font-size: 36px;
}

@media screen and (max-width: 1499px) {
  .project-slider {
    padding: 0 30px;
  }
}

@media screen and (max-width: 1023px) {
  .project {
    margin-top: 70px;
    padding: 70px 0;
  }
  .project-slider {
    padding: 0 15px;
  }
  .project-desc {
    margin-top: 40px;
  }
  .project-slider {
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .project {
    margin-top: 50px;
    padding: 50px 0;
  }
  .project-desc {
    margin-top: 20px;
  }
  .project-blogs-item {
    height: 350px;
  }
}

.slick-dots {
  margin-top: 70px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 15px;
}

.slick-dots li {
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  background-color: #c8c7fb;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.slick-dots li.slick-active {
  width: 25px;
  height: 25px;
  border: 5px solid #c8c7fb;
  background-color: #2d63d1;
}

.slick-dots button {
  display: none;
}

@media screen and (max-width: 1023px) {
  .slick-dots {
    margin-top: 50px;
  }
}

.review {
  display: block;
}

.review-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 30px;
}

.review-img {
  width: 370px;
}

.review-content {
  border-radius: 10px;
  position: relative;
  text-align: center;
  padding: 70px 80px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.review-text {
  font-size: 30px;
  line-height: 1.6;
}

.review-text strong {
  color: #393e46;
}

.review-icon {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.review-author {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 600;
  color: #6a727f;
  margin: 60px auto 0;
}

@media screen and (max-width: 1199px) {
  .review-content {
    padding: 50px;
  }
}

@media screen and (max-width: 1023px) {
  .review-main {
    padding: 70px 0;
  }
  .review-img {
    width: 200px;
  }
  .review-text {
    font-size: 20px;
  }
  .review-author {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .review-main {
    padding: 50px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .review-img {
    max-height: 384px;
  }
  .review-icon {
    max-width: 60px;
  }
  .review-content {
    margin-top: 50px;
    padding: 20px 15px;
  }
  .review-text {
    margin-top: 10px;
    font-size: 18px;
  }
  .review-author {
    margin-top: 30px;
  }
}

.partner {
  display: block;
}

.partner-container {
  max-width: 1500px;
}

.partner-main {
  padding: 150px 165px;
  background: #2d63d1;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 70px;
}

.partner-content {
  max-width: 370px;
}

.partner-title {
  color: #ffffff;
}

.partner-desc {
  color: #ffffff;
  opacity: 0.9;
}

.partner-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 180px;
}

.partner-img {
  max-width: 100px;
}

.partner-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px 0;
}

@media screen and (max-width: 1460px) {
  .partner-images {
    gap: 0 100px;
  }
}

@media screen and (max-width: 1460px) {
  .partner-images {
    gap: 0 50px;
  }
}

@media screen and (max-width: 1023px) {
  .partner-main {
    padding: 70px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px 0;
  }
  .partner-content {
    max-width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .partner-main {
    padding: 50px 20px;
  }
}

.blog {
  display: block;
  padding: 150px 0;
}

.blog-title, .blog-desc {
  text-align: center;
}

.blog-desc {
  max-width: 570px;
  margin: 50px auto 100px;
}

.blog-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0 30px;
}

.blog-item {
  border-radius: 20px;
  -webkit-box-shadow: rgba(57, 62, 70, 0.2) 0px 8px 24px;
          box-shadow: rgba(57, 62, 70, 0.2) 0px 8px 24px;
  overflow: hidden;
}

.blog-big {
  height: 100%;
}

.blog-big-img {
  width: 100%;
  height: 340px;
}

.blog-big-content {
  padding: 35px;
}

.blog-content-title {
  font-family: "Raleway-ExtraBold";
  font-size: 22px;
  line-height: 1.59091;
  max-width: 400px;
  font-weight: 900;
  color: #393e46;
}

.blog-content-desc {
  max-width: 480px;
  color: #6a727f;
  line-height: 1.88889;
  margin-top: auto;
}

.blog-small-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px 0;
}

.blog-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 30px;
}

.blog-small-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.blog-small-link {
  display: block;
  width: 170px;
  height: 170px;
}

.blog-small-link img {
  width: 100%;
  height: 100%;
}

.blog-small-title {
  max-width: 300px;
}

.blog-time {
  font-size: 14px;
  color: #6a727f;
  margin-top: 25px;
}

.blog-btn {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 70px;
}

@media screen and (max-width: 1199px) {
  .blog-small-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .blog {
    padding: 70px 0;
  }
  .blog-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 30px 0;
  }
  .blog-desc {
    margin: 30px auto 50px;
  }
}

@media screen and (max-width: 767px) {
  .blog-small-title {
    font-size: 18px;
  }
  .blog-small-link {
    width: 100px;
    height: 100px;
  }
  .blog-small-content {
    padding-right: 8px;
  }
  .blog-time {
    margin-top: 10px;
  }
  .blog-small {
    gap: 0 15px;
  }
}

@media screen and (max-width: 414px) {
  .blog-small-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .blog-small-title {
    font-size: 14px;
  }
}

.contact {
  background-image: url("../images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
  display: block;
  position: relative;
}

.contact:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.contact-container {
  max-width: 630px;
  position: relative;
  z-index: 2;
}

.contact-title {
  text-align: center;
  color: #ffffff;
}

.contact-desc {
  color: #ffffff;
  text-align: center;
  margin: 45px 0 100px;
}

.contact-form {
  padding: 0 15px;
}

.contact-field {
  display: block;
  border-radius: 10px;
  color: #ffffff;
  padding: 20px 30px;
  background-color: transparent;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
  margin-bottom: 30px;
}

.contact-field::-webkit-input-placeholder {
  color: #ffffff;
}

.contact-field:-ms-input-placeholder {
  color: #ffffff;
}

.contact-field::-ms-input-placeholder {
  color: #ffffff;
}

.contact-field::placeholder {
  color: #ffffff;
}

.contact-field:focus {
  border-color: #ffffff;
}

.contact textarea {
  line-height: 1.55;
  resize: none;
  min-height: 95px;
}

.contact-btn {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: -webkit-gradient(linear, left top, right top, from(#eb7ceb), to(#feac3c));
  background-image: linear-gradient(to right, #eb7ceb, #feac3c);
}

@media screen and (max-width: 1023px) {
  .contact {
    padding: 70px 0;
  }
  .contact-field {
    padding: 10px;
    margin-bottom: 20px;
  }
  .contact-desc {
    margin: 40px 0 50px;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    padding: 50px 0;
  }
  .contact-desc {
    margin: 25px 0 30px;
  }
}

.footer-top {
  padding: 150px 0;
  background-color: #282f3a;
}

.footer-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 130px;
}

.footer-detail {
  margin: 50px 0px 45px 0px;
  line-height: 1.875;
  max-width: 380px;
  color: #6a727f;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 40px;
}

.footer-social a {
  color: #6a727f;
}

.footer-social i {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.footer-social i:hover {
  color: #ffffff;
}

.footer-title {
  margin-bottom: 45px;
  color: #ffffff;
  font-size: 18px;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px 0;
}

.footer-link {
  display: inline-block;
  color: #6a727f;
}

.footer-phone span {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.footer-phone:last-child {
  margin-top: 20px;
}

.footer-phone:hover span {
  color: #ffffff;
}

.footer-nav-link {
  display: block;
  line-height: 1.5;
  color: #6a727f;
}

.footer-address {
  line-height: 1.875;
}

.footer-bottom {
  background-color: #1e242e;
}

.footer-bottom p {
  color: #6a727f;
}

.footer-bottom p span {
  color: #ffffff;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.footer-rock {
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
  color: #ffffff;
  border-radius: 6px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer-rock-icon {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1023px) {
  .footer-top {
    padding: 70px 0px;
  }
  .footer-main {
    gap: 0 30px;
  }
  .footer-nav {
    gap: 20px 0;
  }
  .footer-detail {
    margin: 30px 0 25px;
  }
  .footer-phone:last-child {
    margin-top: 10px;
  }
  .footer-rock {
    right: 15px;
    padding: 25px;
  }
}

@media screen and (max-width: 767px) {
  .footer-top {
    padding: 50px 0;
  }
  .footer-main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px 0;
  }
  .footer-container p {
    line-height: 1.5;
    text-align: center;
  }
  .footer-rock {
    padding: 15px;
  }
}
/*# sourceMappingURL=index.css.map */