* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea,
select,
button {
  cursor: pointer;
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-size: 18px;
  line-height: 1;
  font-family: "OpenSans";
  background: url("../images/background.jpg") no-repeat top/100%;
  background-color: #ffffff;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  color: #ffffff;
  padding: 25px 70px;
  border-radius: 6px;
  font-weight: 900;
}

.btn--primary {
  background: #2d63d1;
}

.btn--secondary {
  background: #44f2a1;
  color: #2d63d1;
}

.title {
  font-size: 36px;
  line-height: 1.55556;
  color: #393e46;
  font-family: "Raleway-ExtraBold";
}

.desc {
  line-height: 1.88889;
  color: #6a727f;
  margin: 60px 0 70px;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url(../fonts/Raleway/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url(../fonts/OpenSans/OpenSans-ExtraBold.ttf);
}

.header {
  padding: 40px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 70px;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 60px;
}

.menu-link {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  padding: 230px 0 360px;
}

.hero-content {
  max-width: 800px;
  color: #ffffff;
}

.hero-title {
  font-size: 60px;
  font-family: "Raleway";
  font-weight: 200;
  line-height: 1.26667;
}

.hero-detail {
  margin: 60px 0 64px;
  max-width: 520px;
  line-height: 1.5;
  font-size: 24px;
}

.offer {
  padding: 150px 0;
}

.offer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 0 230px;
}

.offer-images {
  position: relative;
  min-height: 550px;
}

.offer-img {
  border-radius: 10px;
}

.offer-img:nth-child(1) {
  max-width: 470px;
  height: 440px;
}

.offer-img:nth-child(2) {
  position: absolute;
  top: 130px;
  left: -100px;
  max-width: 300px;
  height: 410px;
  -webkit-box-shadow: 0px 0px 50px 10px rgba(57, 62, 70, 0.2);
          box-shadow: 0px 0px 50px 10px rgba(57, 62, 70, 0.2);
}

.level-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 130px;
}

.level-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 30px;
}

.level-boxs .level-box-small {
  padding: 80px 70px;
}

.level-box-small {
  padding: 80px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  border-radius: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.level-box-big {
  padding: 80px 100px;
  background: #2d63d1;
  margin-bottom: 30px;
  border-radius: 6px;
}

.level-content {
  max-width: 370px;
}

.project {
  padding: 150px 0;
}

.project-title, .project-desc {
  text-align: center;
}

.project-desc {
  max-width: 570px;
  margin: 50px auto 0;
}

.project-slider {
  margin-top: 100px;
}

.project-blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 75px;
  gap: 0 30px;
}

.project-blogs-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 410px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.project-blogs-item img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.project-blogs-item:hover .project-blogs-explore {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.project-blogs-explore {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  background-color: rgba(45, 99, 209, 0.8);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.project-blogs-text {
  color: #ffffff;
  font-family: "Raleway-ExtraBold";
  font-size: 36px;
}

.project-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 70px auto 0;
  gap: 0 15px;
}

.project-btn-item {
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  background-color: #c8c7fb;
}

.project-btn-active {
  width: 25px;
  height: 25px;
  border: 5px solid #c8c7fb;
  background-color: #2d63d1;
}

.review-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 30px;
}

.review-img {
  width: 370px;
}

.review-content {
  border-radius: 10px;
  position: relative;
  text-align: center;
  padding: 70px 80px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.review-text {
  font-size: 30px;
  line-height: 1.6;
}

.review-text strong {
  color: #393e46;
}

.review-icon {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.review-author {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 600;
  color: #6a727f;
  margin: 60px auto 0;
}

.partner-container {
  max-width: 1500px;
}

.partner-main {
  padding: 150px 165px;
  background: #2d63d1;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 285px;
}

.partner-content {
  max-width: 370px;
}

.partner-title {
  color: #ffffff;
}

.partner-desc {
  color: #ffffff;
  opacity: 0.9;
}

.partner-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 180px;
}

.partner-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px 0;
}
/*# sourceMappingURL=index.css.map */